.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-intro {
  font-weight: 700;
}

.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0px 200px;
  margin-top: 50px;
}

.movie {
  background-color: #f1f3f2;
  width: 210px;
  height: auto;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 2px;
}

.movie:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.search-input {
  border: none;
  background-color: #e5e5e5;
  color: black;
  margin-top: 20px;
  height: 30px;
  width: 250px;
  padding: 5px 20px;
  border-radius: 50px;
}

.search-input:focus {
  outline: none;
}
